body {
    background-color: #f8ebeb;
}

.main {
    margin: 20px;
}

.profile-heading {
    height : 300px;
    margin: auto;
    justify-content: center;
}

.profile-text {
    text-align: center;
}

.profile-img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.section-text {
    font-size: 20px;
}

.work {
    font-size: 20px;
}